/* Estilos globales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
  overflow: hidden; /* Evita el scroll global */
}

/* Variables CSS */
:root {
  --primary-color: #05b3f8; /* CELESTE */
  --secondary-color: #f77001; /* NARANJA */
  --primary-color-light: #ecd609; /* AMARILLO MOROARTE*/
  --text-color: #333;
  --border-color: #ddd;
  --background-color: #f4f7f6;
  --card-background: #ffffff;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

/* Estilos para el layout principal de la aplicación */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1; /* Asegura que el contenido principal ocupe el espacio disponible */
  padding-bottom: 60px; /* Añade espacio para que el footer no tape el contenido */
  display: flex;
  justify-content: center; /* Centra horizontalmente las rutas */
  align-items: center; /* Centra verticalmente las rutas */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Eliminar el titilado del cursor en todos los inputs */
input {
  caret-color: transparent;
}

/* Estilos genéricos para avatares */
.player-avatar {
  border-radius: 50%;
  object-fit: cover;
}
